.benefits {
	@extend %sectionPaddingsMobile;
}

.benefits-title {
	@extend %titleTransperent;
}

@media screen and (max-width: 767px) {
	.benefits-box:not(:last-child) {
		margin-bottom: 30px;
	}
}

@media screen and (min-width: $tablet) {
	.benefits-flex {
		@include flex(flex-start, stretch);
		flex-wrap: wrap;
	}

	.benefits-box {
		width: calc((100% - 30px) / 2);

		margin-right: 30px;
		margin-bottom: 30px;

		&:nth-child(2n) {
			margin-right: 0px;
		}

		&:nth-last-child(-n + 2) {
			margin-bottom: 0px;
		}
	}
}

@media screen and (min-width: $desctop) {
	.benefits-box {
		width: calc((100% - 3 * 30px) / 4);
		margin-bottom: 0;

		&:not(:last-child) {
			margin-right: 30px;
		}
	}
}

.benefits-link {
	@include flex(center, center);
	width: 100%;
	min-height: 120px;
	margin-bottom: 30px;

	background-color: $benefitsBackgroundColor;
	border-radius: $borderRadius;

	&:hover,
	&:focus {
		outline: $focusOutlineBlue;
	}
}

.benefits-subtitle {
	margin-bottom: 10px;

	font-weight: 700;
	line-height: 1.14;
	text-transform: uppercase;
	color: $secondaryTextColor;
	text-align: center;
}

.benefits-text {
	margin: 0;
	line-height: 1.71;
}
