.section-clients {
	@media screen and (max-width: 1199px) {
		padding-top: 60px;
		padding-bottom: 60px;
	}

	@media screen and (min-width: 1200px) {
		padding-top: 94px;
		padding-bottom: 94px;
	}
}

.clients {
	@extend %headerMobile;
	font-size: 28px;
	color: $secondaryTextColor;

	@media screen and (max-width: 1199px) {
		margin-bottom: 30px;
	}

	@media screen and (min-width: 1200px) {
		margin-bottom: 50px;

		font-size: 36px;
	}
}

.clients-flex {
	@include flex(flex-start, stretch);
	flex-wrap: wrap;
}

.clients-item {
	margin-bottom: 30px;

	@media screen and (max-width: 767px) {
		width: calc((100% - 1 * 30px) / 2);
		height: 90px;

		&:nth-child(2n + 1) {
			margin-right: 30px;
		}

		&:nth-last-child(-n + 2) {
			margin-bottom: 0px;
		}
	}

	@media screen and (min-width: 768px) and (max-width: 1199px) {
		width: calc((100% - 30px * 2) / 3);
		height: 90px;

		margin-right: 30px;

		&:nth-child(3n) {
			margin-right: 0px;
		}

		&:nth-last-child(-n + 3) {
			margin-bottom: 0px;
		}
	}

	@media screen and (min-width: 1200px) {
		width: calc((100% - 30px * 5) / 6);
		height: 90px;

		margin-bottom: 0px;

		&:not(:last-child) {
			margin-right: 30px;
		}
	}
}

.link-item {
	@include flex(center, center);
	height: 100%;

	border: 1px solid $solalLinkColor;
	border-radius: $borderRadius;

	transition: border $transition, outline $transition;

	&:hover {
		border: 1px solid $accentBlueColor;
	}

	&:focus {
		outline: $focusOutlineBlue;
	}

	&:hover .clients-logo,
	&:focus .clients-logo {
		fill: $accentBlueColor;
	}
}

.clients-logo {
	fill: $solalLinkColor;

	transition: fill $transition;
}
