.section-clients {
	@extend %sectionPaddingsMobile;
}

.clients {
	margin-bottom: 30px;

	@extend %headerMobile;
	color: $secondaryTextColor;
}

.clients-flex {
	@include flex(center, center);
	flex-wrap: wrap;
}

.clients-item {
	width: calc((100% - 1 * 30px) / 2);
	height: 90px;

	margin-bottom: 30px;

	&:nth-child(2n + 1) {
		margin-right: 30px;
	}

	&:nth-last-child(-n + 2) {
		margin-bottom: 0px;
	}
}

.link-item {
	@include flex(center, center);
	height: 100%;

	border: 1px solid $solalLinkColor;
	border-radius: $borderRadius;

	transition: border $transition, outline $transition;

	&:hover {
		border: 1px solid $accentBlueColor;
	}

	&:focus {
		outline: $focusOutlineBlue;
	}

	&:hover .clients-logo,
	&:focus .clients-logo {
		fill: $accentBlueColor;
	}
}

.clients-logo {
	fill: $solalLinkColor;

	transition: fill $transition;
}
