.adress-block {
	@media screen and (max-width: 1199px) {
		margin-bottom: 60px;
	}

	@media screen and (min-width: 768px) {
		width: calc(50%);
		text-align: center;
	}

	@media screen and (min-width: 1200px) {
		width: calc(25%);
		text-align: left;
	}
}

.adress-item:not(:last-child) {
	@media screen and (max-width: 1199px) {
		margin-bottom: 8px;
	}

	@media screen and (min-width: 1200px) {
		margin-bottom: 9px;
	}
}

.adress-link {
	@extend %footerAdress;
	color: $accentWhiteColor;

	transition: color $transition, outline $transition;

	&:focus {
		outline: $focusOutlineWhite;
	}
}

.footer-contacts {
	@extend %footerAdress;
	color: $footerGreyColor;
}
