.adress-block {
	margin-bottom: 60px;
}

.adress-item:not(:last-child) {
	margin-bottom: 8px;
}

.adress-link {
	@extend %footerAdress;
	color: $accentWhiteColor;

	transition: color $transition, outline $transition;

	&:focus {
		outline: $focusOutlineWhite;
	}
}

.footer-contacts {
	@extend %footerAdress;
	color: $footerGreyColor;
}
