body {
	font-size: $primaryFontSize;
	color: $primaryTextColor;
	font-family: $primaryFontFamily;
	letter-spacing: $letterSpacing;
}

body.modal-open {
	overflow: hidden;
}

a {
	text-decoration: none;
}

ul {
	list-style-type: none;
	margin-top: 0px;
	margin-bottom: 0px;
	padding: 0px;
}

img {
	display: block;
	max-width: 100%;
	height: auto;
}

h1,
h2,
h3 {
	margin-top: 0;
}

.container {
	padding-left: 15px;
	padding-right: 15px;
	margin-left: auto;
	margin-right: auto;

	@media screen and (min-width: $mobile) {
		width: $mobile;
	}
	@media screen and (min-width: $tablet) {
		width: $tablet;
	}
	@media screen and (min-width: $desctop) {
		width: $desctop;
	}
}
