// .contacts {
// 	// @media screen and (max-width: 767px) {
// 	// 	display: none;
// 	// }

// 	// @include flex(flex-start, center);
// 	// margin-left: auto;
// }

// .contacts-item:not(:last-child) {
// 	margin-right: 30px;
// }

.contacts-item {
	&:first-child {
		margin-bottom: 16px;
	}
}

.contacts-link {
	display: inline-block;
	font-size: 18px;
	line-height: 1.17;
	font-weight: 500;
	letter-spacing: 0.02em;
	color: $primaryTextColor;

	transition: color $transition, outline $transition;

	&:hover,
	&:focus {
		color: $accentBlueColor;
	}

	&:focus {
		outline: $focusOutlineBlue;
	}

	&:hover .contacts-image,
	&:focus .contacts-image {
		fill: $accentBlueColor;
	}
}

.contacts-image {
	margin-right: 10px;

	fill: $primaryTextColor;

	transition: fill $transition;
}
