.team {
	background-color: $benefitsBackgroundColor;

	@media screen and (max-width: 1199px) {
		@include paddings(60px, 60px);
	}

	@media screen and (min-width: 1200px) {
		@include paddings(94px, 94px);
	}
}

.team-title {
	@extend %headerMobile;
	font-size: 28px;
	color: $secondaryTextColor;

	@media screen and (max-width: 1199px) {
		margin-bottom: 30px;
	}

	@media screen and (min-width: 1200px) {
		margin-bottom: 50px;

		font-size: 36px;
	}
}

.team-flex {
	@media screen and (min-width: 768px) {
		@include flex(flex-start, stretch);
		flex-wrap: wrap;
	}
}

.team-item {
	background-color: $accentWhiteColor;
	box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12);
	border-radius: 0px 0px 4px 4px;

	@media screen and (max-width: 767px) {
		&:not(:last-child) {
			margin-bottom: 30px;
		}
	}

	@media screen and (min-width: 768px) and (max-width: 1199px) {
		width: calc((100% - 30px) / 2);
		margin-bottom: 30px;

		&:nth-last-child(-n + 2) {
			margin-bottom: 0;
		}

		&:nth-last-child(2n) {
			margin-right: 30px;
		}
	}

	@media screen and (min-width: 1200px) {
		width: calc((100% - 3 * 30px) / 4);

		&:not(:last-child) {
			margin-right: 30px;
		}
	}
}

.team-subtitle {
	margin-top: 30px;
	margin-bottom: 10px;

	@extend %teamText;
	font-weight: 500;
	color: $secondaryTextColor;
}

.team-text {
	margin-top: 0;
	margin-bottom: 16px;

	@extend %teamText;
}

.team-sl {
	@include flex(center, center);
	padding-bottom: 24px;
}

.item-links {
	width: 44px;
	height: 44px;

	&:not(:last-child) {
		margin-right: 10px;
	}
}

.t-links {
	@include flex(center, center);
	height: 100%;

	border-radius: 50%;

	transition: background-color $transition, outline $transition;

	&:hover {
		background-color: $accentBlueColor;
	}
	&:focus {
		background-color: $accentBlueColor;
		outline: $focusOutlineBlue;
	}
	&:hover .team-social,
	&:focus .team-social {
		fill: $accentWhiteColor;
	}
}

.team-social {
	fill: $solalLinkColor;

	transition: fill $transition;
}
