.logo-footer {
	display: inline-block;
	margin-bottom: 20px;

	font-family: $secondaryFontFamily;
	font-weight: 700;
	font-size: 24px;
	line-height: 1.17;

	transition: outline $transition;

	&:focus {
		outline: $focusOutlineWhite;
	}
}

.logo-parth-one {
	color: $accentBlueColor;
}

.logo-parth-three {
	color: $accentWhiteColor;

	transition: color $transition;
}
