@mixin flex($justify-content, $align-items) {
	display: flex;
	justify-content: $justify-content;
	align-items: $align-items;
}

@mixin paddings($top, $bottom) {
	padding-top: $top;
	padding-bottom: $bottom;
}
