$primaryTextColor: #757575;
$secondaryTextColor: #212121;
$accentBlueColor: #2196f3;
$accentWhiteColor: #ffffff;
$footerGreyColor: rgba(255, 255, 255, 0.6);

$solalLinkColor: #afb1b8;

$heroBackgroundColor: #212121;
$heroBackgroundShadow: rgba(47, 48, 58, 0.8);
$heroButtonShadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
$benefitsBackgroundColor: #f5f4fa;
$directionsBackgroundColor: rgba(47, 48, 58, 0.8);
$footerBackgroundColor: #2f303a;
$footerLinksBGColor: rgba(255, 255, 255, 0.1);

$buttonHoverColor: rgba(33, 180, 255, 1);

$primaryFontFamily: Roboto, sans-serif;
$secondaryFontFamily: Raleway, sans-serif;

$letterSpacing: 0.03em;

$borderRadius: 4px;
$border: 1px solid transparent;

$transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);

$borderExamples: 1px solid #ececec;

$focusOutlineNone: none;
$focusOutlineBlue: 1px solid #2196f3;
$focusOutlineWhite: 1px solid #ffffff;
